<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<!-- soap server, for production, use: https://api.ebay.com/wsapi -->
	<ServerUrl>https://api.sandbox.ebay.com/wsapi</ServerUrl>
	<!-- eps server, for production, use: https://api.ebay.com/ws/api.dll -->
	<EpsServerUrl>https://api.sandbox.ebay.com/ws/api.dll</EpsServerUrl>
	<SignInUrl>https://signin.sandbox.ebay.com/ws/eBayISAPI.dll?SignIn
	</SignInUrl>

	<!--LogFilePath>SanityTest.log</LogFilePath -->
	<ApiCredential>
		<Developer>7dbf468d-db19-4dbc-8e5e-8630a4543b61</Developer>
		<Application>XinWang0c-6a0c-4ea0-8def-d094f42a343</Application>
		<Certificate>98b00dc7-8d0b-48ea-bca6-a4b461b0c69a</Certificate>
	</ApiCredential>

	<RuName>Xin_Wang-XinWang0c-6a0c--wyipcandl</RuName>

	<eBayCredential>
		<Account>
			<name>aaroncollection2015</name>
			<token>AgAAAA**AQAAAA**aAAAAA**WSZ9VQ**nY+sHZ2PrBmdj6wVnY+sEZ2PrA2dj6AFkICnAJSDow2dj6x9nY+seQ**44YCAA**AAMAAA**0NfRWAB4Irh20lr45k4IRve/uU1VMMLGtW1Zk1Ab23M6aoYbxG9ARbI4R6+1kqkCi8MwKjIM2KZySQGvHgVXUGdS4V6+Xn5wfJjCoCJCp4JXD2Z2oQJ3FoeZoiocy2r/rSYeRP92pvM7b4OhQYSX0FVnl9AQz2XegRkPn2FfYsqVpdGm9Bh408DRD+VedMbClX3DZ6llepCXpVqrPXOOHAuulye55muXKFG8OuA03a1Izzxrbmm841ZGWFecNoWURjBBGNmnZllMXq8oodES7nk9b1GWLbUCETrvTok3aHl45q65lfU/n87zl0nDFBcHywHnNup2H4MPeXhXmeV65gMq/oxV74FN6dTkmcduVVQ6VQpiiowt2WHBXPmU03XHh71t/GpGPyB/VMwdTwPSBtx0VA71ITDRiReBObwHCVV76de8oMsyVSzOKI+yBkfo6zokOLLg/6aEPVHJGAWZISg774cQkXG78uRtjwTEAiU0sghDEkJQHa7oGc5nNVP2KG3mlDe+qSU14QyueSP8sa3UQZyXOQNhqcnkqOctIoYwzfVoWE/Z/jjHohd5TFZ7iTcbMACqXkeEA5jD01olY16l+LcCpJm/XvI/ZQHmj4iJMOLbEwUIAR9VpQz4o6Q3uHexatTMtUlEDIkvvEBrbwaMl4PCdOxS34JJ6l/e1UUnb2s1Nr702MkUQoAGvOi9eZ8Uy3gunKbVOtNsYJ4reK4AG2vaDfbfdgaypZVtPW84tyMLIl1Fy2ubvCrql4KG
			</token>
		</Account>
		<Account>
			<name>onlyleaf520</name>
			<token>AgAAAA**AQAAAA**aAAAAA**5S+JVQ**nY+sHZ2PrBmdj6wVnY+sEZ2PrA2dj6AHl4eoAJSApw+dj6x9nY+seQ**44YCAA**AAMAAA**bsbgf2dlnMfZsCeklbkTP9Krp7Jia56BUhpo3K40o1d2fa/drZdtRLVCyM97/R83xGPZwkhhLx4Y79whLPUuHZcYgv48+Nw6YOnrVvI86lqdspmQa+g3P7GNL+mc+tBkBl/UusR/OpQSOie9ANWocRZJmO0kKI6j9ZPiZuRw4oLjv/L6jY8WCdDMnqxPSjAYWjWR82qfEcOJF4Fh1YfJK+/Xsu3ZRVLzE3OZdbsN4Jj0oL8sezjRLUNlmgxtFkaD3JNHULQu/LuzrgnJAX7pl/CN3Pk7DOYy6n9nFtm9iWDZQ4o/3wK2lR8jUYbk4OBTcaRr8aCrwn0xGmqGOWASv1AH+J+td2PdA2Hobi+KdBnYHlZtFdWjg2WHx2wGmQ7ByHq3C8KeufCnHpn6YGaZjMJGh32jMeetxjsjMNYLQjCALFKwgzMNUVM4xT/nyvykyAmyf63DLOWxBj5Jdz3xiRAW4y62Xo6ZdpzunmCm4faFO2SvrA8pk2hL/NeFv6ZCv23BuG+IOU3Uk8JtRrsBYoaH3qN4Zux1m66YT8YViFYKuct6HZje645DD2iYV9ZT6bDNWmfkUFmVIJ/QgmKDflHEd31dTjwFyNPNPToBcULgocvMeX3uAs8f6Y2Y1HyM9jQk/WznvHcBqPxzxSmBt2OS4Fzoe2Nb8qQS+NgxwhpQensJt9j4BB7F49qnYDuVDQV4xurJI9kMNzlYQvK35KuFLd8NMompnRqUmVoZr8tSPJplUolPmeNgRKqDiG38
			</token>
		</Account>
	</eBayCredential>
	<!-- set this if you access eBay API server behind a proxy -->
	<Proxy>
		<Host />
		<Port />
		<!-- set username/password if necessary -->
		<Username />
		<Password />
	</Proxy>
</Configuration>